body {
	padding-top: 1em;
}

.maincontent {
	margin-top: 2em;
	display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.stopwatch {
	width: 80%;
	text-align: center;
	margin-bottom: 3em;
}

#timer {
	font-size: 12em;

}

.btnrow {
	display: flex;
	width: 80%;
	justify-content: space-between;
	margin-bottom: 2em;
}

.btn-child {
	height: 2em;
	width: 30%;
	font-size: 1.5em;

}


.split-row{
	display: flex;
	width: 80%;
	margin-bottom: 2em;

}

.split-row-child {
	justify-content: space-between;
	width: 45%;
	text-align: center;
}


.workout_msg {
	font-size: 2em;
	line-height: 150%;
}


/*------------------------------------- Home Page CSS ------------------------------------ */
.workoutHolder {
	border-style: solid;
	border-color: black;
	border-width: 2px;
	border-radius:1em;
	padding: 1em;
	margin: 1em;
	
}

.workoutTitle {

}

.workoutInfo {
	display:flex;
	justify-content:space-between;
	align-items: center;
}









