body {
	padding-top: 1em;

}

.container {
	width: 90%;
}

.maincontent {
	margin-top: 0em;
	display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.stopwatch {
	width: 80%;
	text-align: center;
	margin-bottom: 0em;
}

#timer {
	font-size: 12em;
	margin-top: 0;
	margin-bottom: 0;

}

.btnrow {
	display: flex;
	width: 80%;
	justify-content: space-between;
	margin-bottom: 2em;
}

.btn-child {
	height: 2em;
	width: 30%;
	font-size: 1.5em;

}


.split-row{
	display: flex;
	width: 80%;
	margin-bottom: 2em;

}

.split-row-child {
	justify-content: space-between;
	width: 45%;
	text-align: center;
}


.workout_msg {
	font-size: 2em;
	line-height: 150%;
}


/*------------------------------------- Home Page CSS ------------------------------------ */
.workoutHolder {
	border-style: solid;
	border-color: black;
	border-width: 2px;
	border-radius:1em;
	padding: 1em;
	margin: 1em;
	
}

.workoutTitle {
	margin-top: 0;
	padding-top: 0;
}

.workoutInfo {
	display:flex;
	justify-content:space-between;
	align-items: center;
}

.redclass {
	color:red;
}

#mce-EMAIL{
	width: 50%;
}

.workoutLeft {
	width: 50%;
}

/*--------------------add workout CSS ----------------------------------------------- */

.workout_tables {
	padding: 1em;
	text-align: center;
}


/*------------------- Help Page! ----------------------------------------------------- */

.helpdual {
	width: 100%;
	display:flex;
	justify-content:space-between;
	align-items: flex-start;
}

.helphalf {
	padding: 2em;
	width: 45%;
}



