<h2>I Need Help!</h2>

<h4>Its a fun project, but I can't do it without you!</h4>

<p>I've gotten some great feedback from people and it makes me want to keep working on this.</p>
<p>Unfortunately, I don't know how to make iOS or Android apps, which are needed to implement most of the suggestions I've gotten from everyone.</p>


<h3>Two Ways To Help</h3>
<div class="helpdual">
	<div class="helphalf">
		<h4>Contribute Some Expertise</h4>
		<ul>
			<li>I'll start learning iOS and Android</li>
			<li>But that'll take a <i>long</i>time</li>
			<li>I could use some help from you guys!</li>
			<li><i>If you help, we can split the donations too... shhh</i></li>
		</ul>

		<p>If you know iOS or Android, please send me an e-mail and we can talk about how to make this work! I'm very flexible and would rather work on this with you!</p>
		<p>E-mail: jpdean333@gmail.com</p>
	</div>
	<div class="helphalf">
		<h4>Contribute Some Funds</h4>
		<ul>
			<li>25% of every donation will go to the Access Fund</li>
			<li>I'll include a personalized 'Thank You' in the newsletter</li>
			<li>Suggested Contribution: $10</li>
			<li>I promise to be transparent about how many donations we get</li>
		</ul>
		<a href="https://app.moonclerk.com/pay/2mgjd8bfjb5"><img alt="Donate" src="https://s3.amazonaws.com/moonclerk/buttons/donate.png" /></a>
	</div>
	
</div>
<hr>

	<p>You're also free to contribute ideas of what we can do next with this! Click the orange question mark in the bottom of the screen to ask a question or submit some feedback. Yeah that guy... right............ there---></p>