<h1 class="headliner">I Need Help!</h1>
<h4 class="sub-header-text">Fun project, but can't do it without you</h4>

<h2>Two Ways To Contribute</h2>
<div class="helpdual">
	<div class="helphalf">
		<h3>Contribute Some Expertise</h3>
		<ul>
			<li>Know iOS or Android? Please help!</li>
			<li>I'll start learning iOS and Android</li>
			<li>But that'll take a <i>long</i>time</li>
			<li>I could use some help from you guys!</li>
			<li><i>If you help, we can split the donations too... shhh</i></li>
		</ul>

		<p>If you know iOS or Android, please send me an e-mail and we can talk about how to make this work! I'm very flexible and would rather work on this with you!</p>
		<p>E-mail: jpdean333@gmail.com</p>
	</div>
	<div class="helphalf">
		<h3>Contribute Some Funds</h3>
		<ul>
			<li>25% of every donation will go to the Access Fund</li>
			<li>I'll include a personalized 'Thank You' in the newsletter</li>
			<li>Suggested Contribution: $10</li>
			<li>I promise to be transparent about how many donations we get</li>
		</ul>
		<a href="https://app.moonclerk.com/pay/2mgjd8bfjb5"><button class="btn btn-hg btn-success fullbtn">Contribute</button></a>
	</div>
	
</div>
<hr>

	<p>You're also free to contribute ideas of what we can do next with this! Click the orange question mark in the bottom of the screen to ask a question or submit some feedback. Yeah that guy... right............ there---></p>