<h1>Welcome To SendTrain.xyz</h1>
<h3>Take Control of your Climbing Training</h3>
<ul>
	<li>Easy to See Timer</li>
	<li>Directions on your current and next step</li>
	<li>Create your own workouts</li>
	<li>Use existing workouts from the community</li>
</ul>

<a href="#/search"><button class="btn btn-hg btn-success">Find a Workout!</button></a>
<a href="#/addworkout"><button class="btn btn-hg btn-primary">Contribute a Workout</button></a>
<br><br><br>
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//youknowwatt.us3.list-manage.com/subscribe/post?u=3e1baa748d5643f03191a2210&amp;id=6b478a32a9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<label for="mce-EMAIL">Stay In The Loop!</label>
	<input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_3e1baa748d5643f03191a2210_6b478a32a9" tabindex="-1" value=""></div>
    <br>
    <div class="clear"><input type="submit" value="Update Me!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success btn-lg"></div>
</form>
</div>
<br>
<!-- SMARTADDON BEGIN -->
<script type="text/javascript">
(function() {
var s=document.createElement('script');s.type='text/javascript';s.async = true;
s.src='http://s1.smartaddon.com/share_addon.js';
var j =document.getElementsByTagName('script')[0];j.parentNode.insertBefore(s,j);
})();
</script>

<div id="sa_share_bar">
<a id="sa_share_facebook" layout="icon" size="24"></a>
<a id="sa_share_twitter" layout="icon" size="24"></a>
<a id="sa_share_email" layout="icon" size="24"></a>
<a id="sa_share_share" layout="icon" size="24"></a>
</div>
<!-- SMARTADDON END -->

<br><br><br>

<!--End mc_embed_signup-->