<div class="landing_top"></div>
<h1 class="headliner">SendTrain.xyz</h1>
	<div class="homecontent">
		<div class="home_half">
		<!--<h3 class="subtitle">Take Control of your Climbing Training</h3>-->
			<ul class="mainpoints">
				<span class="glyphicon glyphicon-ok"><li>Easy to See Timer</li>
				<li>Directions on your current and next step</li>
				<li>Create your own workouts</li>
				<li>Use existing workouts from the community</li>
			</ul>

			<a href="#/search"><button class="btn btn-hg btn-success">Get Started</button></a>
			<a href="#/help"><button class="btn btn-hg btn-danger">I Need Your Help</button></a>
		</div>
		<div class="home_half">
			<img id="home_main_img" src="assets/timer_iphone.png">			
		</div>
	</div>
	
	