<h1 class="headliner">Browse Workouts</h1>
<div class="input-group input-group-hg input-group-rounded">
	<span class="input-group-btn">
		<button type="submit" class="btn">
			<span class="fui-search"</span>
		</button>
	</span>
	<input type="text" ng-model="searchText" class="form-control" placeholder="Search"/>
</div>

<div>
	<div class="list_info">
		We Found <strong> {{filteredWorkouts.length}}</strong> workouts for you. <br>
		Can't Find what you're looking for? <button class="btn btn-primary" ng-click="goToPage('/addworkout')">Contribute a New Workout!</button>
	</div>
	<div class="workoutHolder" ng-repeat="workout in filteredWorkouts = (listOfWorkouts | filter:searchText)">
		
		<h3 class="workoutTitle">{{ workout.get('title') }}</h3>
		<div class="workoutInfo">
			<div class="workoutLeft">
				<p><strong>Description: </strong>{{ workout.get('description')}} </p>
				<p><strong>Built for Hangboard:</strong> {{ workout.get('hangboard')}} </p>
			</div>
			<div class="workoutCenter" ng-show="isExpanded[$index]">
				<p><strong>Reps in this workout:</strong></p>
				<ul>
					<li ng-repeat="rep in workout.get('reps')">{{rep.message}} for {{rep.time}} seconds</li>
				</ul>
			</div>
			<div class="workoutRight">
				<button class="btn btn-primary" ng-hide="isExpanded[$index]" ng-click="toggle($index)">Expand</button>
				<button class="btn btn-warning" ng-show="isExpanded[$index]" ng-click="toggle($index)">Collapse</button>
				<button class="btn btn-success btn-lg" ng-click="goToPage('/workout/' + workout.id)">Start Workout!</button>
			</div>
		</div>
	</div>
</div>	
