
		<div class="maincontent">
			<div class="stopwatch">
				<h1 id="timer" ng-class="{'redclass': lastthree}">{{timerMinutes}}:{{timerSeconds}}</h1>
			</div>	
			<div class="btnrow">
				<button ng-click="startWorkout()" class="btn-child btn btn-success btn-lg">Start!</button>
				<button onclick="pausetimer()" class="btn-child btn btn-primary btn-lg">Pause</button>
				<button onclick="resettimer()" class="btn-child btn btn-danger btn-lg">Reset</button>
			</div>
		
			<div class="split-row">
				<div class="split-row-child">
					<h2>Current:</h2>
					<div class="workout_msg" id="message_current">{{currentMsg}}</div>
				</div>
				<div class="split-row-child">
					<h2>Next:</h2>
				<div class="workout_msg" id="message_next">{{nextMsg}}</div>
			</div>

		</div>
