
		<div class="maincontent">
			<div class="stopwatch">
				<h1 id="timer" ng-class="{'redclass': lastthree}">{{timerMinutes}}:{{timerSeconds}}</h1>
			</div>	
			<div class="btnrow">
				<button ng-click="startWorkout()" class="btn-child btn btn-success btn-lg">Start!</button>
				<button onclick="pausetimer()" class="btn-child btn btn-primary btn-lg">Pause</button>
				<button onclick="resettimer()" class="btn-child btn btn-danger btn-lg">Reset</button>
			</div>
		
			<div class="split-row">
				<div class="split-row-child">
					<h2>Current:</h2>
					<div class="workout_msg" id="message_current">{{currentMsg}}</div>
				</div>
				<div class="split-row-child">
					<h2>Next:</h2>
				<div class="workout_msg" id="message_next">{{nextMsg}}</div>
			</div>

		</div>
		<div class="custom-options" ng-show="isCustom">
			<div class="custom-options-child">
				<label for="sets">Number of Sets</label><input type="number" name="sets" id="sets" value="6" class="form-control" ng-model="custommodel1"/>
			</div>
			<div class="custom-options-child">
				<label for="reps">Reps</label><input type="number" name="reps" id="reps" value="6" class="form-control" ng-model="custommodel2"/>
			</div>
			<div class="custom-options-child">
				<label for="hangtime">Hang Time (sec)</label><input type="number" name="hangtime" id="hangtime" value="7" class="form-control" ng-model="custommodel3"/>
			</div>
			<div class="custom-options-child">
				<label for="resttime">Rest Time (sec)</label><input type="number" name="resttime" id="resttime" value="3" class="form-control" ng-model="custommodel4"/>
			</div>
			
			<div class="custom-options-child">
				<label for="longresttime">Between Set Rest Time (sec)</label><input type="number" name="longresttime" id="longresttime" value="180" class="form-control" ng-model="custommodel5"/>
			</div>
			
		</div>
		<audio id="workoutChime">
			<source src="assets/beep-02.mp3" type="audio/mpeg"/>
		</audio>
